<div class="search-container">
  <mat-form-field class="search-bar" appearance="outline">
    <mat-label>Dizi ara...</mat-label>
    <input
      matInput
      [(ngModel)]="searchQuery"
      [matAutocomplete]="auto"
      (input)="onSearch()"
      placeholder="Dizi ismi yazınız..."
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
      <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion.Title">
        <div class="option-container">
          <img *ngIf="suggestion.Poster" [src]="suggestion.Poster" alt="Poster" class="suggestion-poster" />
          <span>{{ suggestion.Title }}</span>
          <span class="year">{{ suggestion.Year }}</span>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div *ngIf="noResults" class="no-results">Sonuç bulunamadı.</div>

