<div class="details-container">
  <div class="details-header">
    <img *ngIf="series?.Poster" [src]="series?.Poster" alt="{{ series?.Title }}" class="series-poster" />
    <div class="details-meta">
      <h1>{{ series?.Title }}</h1>
      <div class="year-genre">
        <span class="year">{{ series?.Year }}</span>
        <span class="genre">{{ series?.Genre }}</span>
      </div>
      <div class="imdb-rating">
        <mat-icon>star</mat-icon>
        <span>{{ series?.imdbRating }} / 10</span>
      </div>
      <p class="description">{{ series?.Plot }}</p>
    </div>
  </div>

  <!-- Sezonlar ve Bölümler -->
  <div class="rating-table">
    <div *ngFor="let season of totalSeasons" class="season-column">
      <div class="season-header">S{{ season }}</div>
      <div *ngFor="let episode of getEpisodesForSeason(season)" class="episode-row">
        <div class="row-header">E{{ episode.episodeNumber }}</div>
        <div class="rating-cell" [ngClass]="getRatingClass(episode.imdbRating)">
          {{ episode.imdbRating }}
        </div>
      </div>
    </div>
  </div>
</div>
